@font-face {
    font-family: SCI FI;
    src: url(SCI\ FI\ BOX.ttf);
}

@font-face {
    font-family: matcha;
    src: url(Matcha\ Salt.otf);
}
h1{
    font-family: SCI Fi;
    text-align: center;
}
/*backgroud color*/
body{
    background-color: aquamarine;
    color:#582
}

.Sharky{
    text-align: left;
    font-size: xx-large;
    font-family:matcha ;
}
/*making the display*/

h3{
    display:inline;
    padding: 5%;
}

.important{
    display: flex;
    align-items: center;
}